/* The CSS file also imports Google Fonts for typography. */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body{
    margin: 0;
    padding: 0;
    max-width: 1320px;
    margin: auto;
}
.container{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.banner, .invitation-card, .venue-card{
     font-family: "Merriweather", serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
    background-image: linear-gradient(to bottom, #000000d0, transparent), url("/images/BannerImage.png");
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.banner .main-title{
    font-size: 64px;
    width: 70%;
    margin: 0 auto;
}
.banner h2{
    font-size: 30px;
    font-weight: 300;
}



/* Sale content */
.sale{
    display: flex;
    font-family: "Inter", sans-serif;
    justify-content: center;
    text-align:center;
    align-items: center;
    text-transform: uppercase;
}
.sale-content .main-title{
    font-size: 5em;
    color: red;
    width: 70%;
    margin: 0 auto;
    
}

.sale-content .sub-title-1{
font-size: 1.3em;
color: red;

}

.sale-content .sub-title-2{
font-size: 2.5em;
font-weight: 700;

}


    .sale-content img{
        width: 100%;
    }


    .invitation-card{
        background-image: linear-gradient(to bottom, #000000d0, transparent), url("/images/Vector.png");
        text-align: left;
    }

    .invitation-card .card-content{
        font-family: "Inter", sans-serif;
        width: 90%;
        margin: 0 auto;
    }

    .invitation-card .card-content .main-title{
        font-family: "Merriweather", serif;
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 20px;
        width: 50%;
    }

    .invitation-card .card-content .details{
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 20px;
        width: 70%;

    }

    .invitation-card .card-content a{
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 16px;
        font-weight: 700;
    }


    .venue-card{
        background-image: linear-gradient(to bottom, #ff00004b, transparent);
        height: 300px;
        font-family: "Inter", sans-serif;
        font-size: 24px;
        font-weight: 600;
        color: black;
    }
    .red{
        color: red;
    }




    /* The following media query adjusts the styles for screens between 570px and 900px. */

@media screen and (max-width: 570px) {
    .banner, .invitation-card{
        height: 300px;
    }
    .banner-content .main-title, .invitation-card .card-content .main-title{
        font-size: 32px;
        width: 100%;
    }
    .banner h2{
        font-size: 20px;
    }

    .sale-content .main-title{
    font-size: 3em;
    
}

.sale-content .sub-title-1{
font-size: 0.8em;
}

.sale-content .sub-title-2{
font-size: 1.8em;
}

    .invitation-card .card-content .details{
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 20px;
        width: 100%;
        overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }

   
    
}





@media screen and  (max-width: 900px) and (min-width: 570px) {
    .banner, .invitation-card{
        height: 400px;
    }
    .banner .main-title, .invitation-card .card-content .main-title{
        font-size: 50px;
        width: 100%;
    }
    .banner h2{
        font-size: 25px;
    }
}